.Weather {
  width: 80%;
}

.Weather .btn-primary {
  background-color: #f8f7f9 !important;
  color: #14267c;
}

.Weather h1 {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  margin-top: 15px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
}

.Weather .day-info {
  text-align: center;
}

.Weather .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 769px) {
  .Weather form {
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .Weather h1 {
    font-size: 36px;
  }

  .Weather li {
    font-size: 16px;
  }

  .Weather .form-control,
  .btn {
    font-size: 12px;
  }

  .Weather .icons {
    margin-top: 0 !important;
  }
}
