.WeatherTemp .temperature {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.WeatherTemp .unit {
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .WeatherTemp .temperature {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
  }

  .WeatherTemp .unit {
    padding-left: 5px;
    font-size: 24px;
    font-weight: bold;
  }
}
